.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em 5em;
}

.card {
  max-width: 350px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.image {
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.body {
  padding: 15px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.price {
  font-size: 1rem;
}
